@charset "UTF-8";

body {
    margin: 0 auto;
    padding: 10px;
    max-width: 600px;
    font-family: sans-serif;
}

.display-style {
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #E0E0E0;
    font-family: monospace;
    font-size: 12px;
    white-space: pre;
    unicode-bidi: embed;
    background-color: #fff;
}

label {
    display: block;
    margin-bottom: 0.3em;
    font-size: 12px;
    font-weight: bold;
}
